body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left-section{
  display: flex;
  flex-direction: column;
  
 
  height: 100vh;
  width: 33%;
  
 
}

.left-section img{
  width: 35px;
  height: 35px;
  margin-left: 45px;
 

}

.left-item{
  display: flex;
  align-items: center;
  
  padding:20px;
}
.left-item h1{
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}